<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Optimization</title>
</head>
<body>
  
  {% extends "base.html" %}
  {% block content %}
    <h1>Run Optimization</h1>
<form method="POST" action="/run/optimization">
        <label for="file">Enter Optimization Receipt:</label>
        <input type="text" name="receipt" placeholder="optimization receipt">
        <button type="submit">Submit</button>
</form>
  {% endblock %}
  
</body>
</html>
